<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>고객 시스템</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div style="margin: auto; width: 400px;">
    <h1 class="h3 mt-5 mb-3 fw-normal">고객 페이지</h1>

    <form th:action="@{/admin}" method="get">
        <input class="w-100 btn btn-warning mt-3" type="submit" value="내 문의 목록"/>
    </form>
    <form th:action="@{/post/register}" method="get">
        <input class="w-100 btn btn-warning mt-3" type="submit" value="문의 하기"/>
    </form>
    <p class="mt-5 mb-3 text-muted">© 2022-2024</p>
    <br/>

    <form th:action="@{/logout}" method="post">
        <input class="w-100 btn  btn-lg btn-primary mt-3" type="submit" value="로그아웃"/>
    </form>
</div>
</body>
</html>
